#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.page {
  margin-top: -2rem;
}

.submit-btn {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: blue;
  color: whitesmoke;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #1e90ff;
}

.submit-btn:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

/*Navbar*/
.navbar {
  margin-top: -1rem;
  padding: 0 0 1rem;
}

.navbar .logo-box {
  max-width: 600px;
  position: relative;
  right: 15%;
}

.navbar .logo,
.nav-btn {
  color: whitesmoke;
  font-size: 2rem;
}

.navbar .logo {
  font-weight: 700;
}

.nav-links {
  width: 55%;
}

.nav-btn.active {
  color: blueviolet;
}
.nav-btn:hover {
  color: #1e90ff;
}
